/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body { 
    background-image: url(../images/body.png);

}

.all {
    width: 900px;
    margin-left: auto;
    margin-right: auto;

}

.headers {
    background-image: url(../images/back.jpg);
    border-bottom: 5px solid rgb(104, 179, 236);
}

.box-size {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-top: 43px;
    margin-left: 50px;

}

.box-name {
    height: 200px;
    width: 500px;
    display: inline-block;
    border-left: 5px solid rgb(127, 155, 255);
    margin: 20px;
    margin-bottom: -5px;

    

}

.box-size img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.nama {
    font-size: 50px;
    float: left;
    text-decoration: solid black;
    margin-top: 70px;
    margin-left: 20px;

}


.about {
    clear: left;
    padding-top: 20px;
}

.blog1 {
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    padding-left: 5px;
}


.bungkus {
    background-color: whitesmoke;
    width: 100px;
    height: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid rgb(13, 184, 241);

}

.content1 {
    padding-top: 40px;
    background-color: rgba(237, 233, 233, 0.921);
    padding-bottom: 20px;
    height: auto;
}

.box-model-c1, .box-model-c2, .box-model-c3, .box-model-c4, .box-model-c5 {
    width: 880px;
    height: 200px;
    background-color: rgb(40, 149, 226);
    margin-left: 12px;
    border-radius: 20px;
    border: 5px solid rgba(255, 255, 255, 0.684);
    box-sizing: border-box;
}

.tamp-images1 img, .tamp-images2 img, .tamp-images3 img, .tamp-images4 img, .tamp-images5 img {
    width: 190px;
    height: 190px;
    float: left;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: 10px solid rgb(164, 200, 219);
    box-sizing: border-box;
}


.judulsc1, .judulsc2, .judulsc3, .judulsc4, .judulsc5 {
    font-size: 30px;
    padding: 45px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.tamp-link1, .tamp-link2, .tamp-link3, .tamp-link4, .tamp-link5 {
    background-color: rgb(24, 146, 191);
    width: 150px;
    height: 30px;
    float: left;
    margin-top: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 2px solid rgb(13, 184, 241);
    box-sizing: border-box;

}


.link1, .link2, .link3, .link4, .link5 {
    color: black;
    clear: left;
    padding-top: 5px;
    font-size: 20px;
    display: block;
    text-align: center;
    text-decoration: none;

}

.fod {
    width: 900px;
    height: 70px;
    background-color: rgb(223, 220, 220);
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid rgb(181, 178, 173);

}

.fod .texte {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

.box-model-link1  {
    background-color: rgba(237, 233, 233, 0.921);
    padding-left: 400px;
    display: flex;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 50px;

}

.box1 {
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    background-color: crimson;
    border-radius: 5px;
}

.box1 a {
    text-decoration: none;
    color: #000000;

}
