/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body { 
    background-image: url(../images/body.png);

}

.all {
    width: 900px;
    height: 1500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}

.headers {
    background-image: url(../images/back.jpg);
    border-bottom: 5px solid rgb(104, 179, 236);
}


.box-size {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-top: 43px;
    margin-left: 50px;

}

.box-name {
    height: 200px;
    width: 500px;
    display: inline-block;
    border-left: 5px solid rgb(127, 155, 255);
    margin: 20px;
    margin-bottom: -5px;

    

}

.box-size img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.nama {
    font-size: 50px;
    float: left;
    text-decoration: solid black;
    margin-top: 70px;
    margin-left: 20px;

}


.containerbawah {
    background-color: whitesmoke;
    height: 300px;
}


.about {
    padding: 20px;
    margin-left: 0px;
}

.blog1 {
    color: #000000;
    margin-left: 15px;
    font-size: 15px;
    margin-top: 2px;
    display: block;
    text-decoration: none;
    font-family: serif;

}


.bungkus {
    background-color: whitesmoke;
    width: 115px;
    margin-left: 75px;
    display: inline-block;
    height: 20px;
    border-radius: 10%;

}

.content1 {
    padding-top: 40px;
    background-color: whitesmoke;
}

.box-model-c1 {
    width: 880px;
    height: 200px;
    background-color: rgb(40, 149, 226);
    margin-left: 12px;
    border-radius: 20px;
    border: 5px solid rgba(255, 255, 255, 0.684);
    box-sizing: border-box;
}

.tamp-images img {
    width: 190px;
    height: 190px;
    float: left;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: 10px solid rgb(164, 200, 219);
    box-sizing: border-box;
}

.judul1 {
    padding: 45px;
    display: inline-block;
}

.judulsc1 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


.tamp-link {
    background-color: aqua;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;

}


.link1 {
    color: black;
    clear: left;
    font-size: 30px;
    margin-left: 75px;
    margin-top: 3px;
    display: inline-block;
    text-decoration: none;

}

.fod {

    width: 900px;
    height: 70px;
    background-color: rgb(223, 220, 220);
    margin-left: auto;
    margin-right: auto;

}

.fod .texte {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: auto;
    padding-right: auto;
    font-size: 30px;
}
